.button {
  background-color: var(--black);
  color: white;
  width: 115px;
  height: 44px;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}
