.aboutme {
  width: 60%;
}

.aboutme p {
  font-size: 32px;
  line-height: 48px;
}

@media (min-width: 1200px) and (max-width: 1399px) {
  .aboutme p {
    font-size: 20px;
    line-height: 32px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .aboutme {
    width: 80%;
  }
  .aboutme p {
    font-size: 20px;
    line-height: 32px;
  }
}
