@use "../styles/rwd.scss" as *;

.home {
  display: flex;
  flex-direction: column;
  row-gap: 208px;
}

@include xl {
  .home {
    row-gap: 168px;
  }
}

@include l {
  .home {
    row-gap: 168px;
  }
}

@include m {
  .home {
    row-gap: 168px;
  }
}