@use "../../styles/rwd.scss" as *;

.contact {
  width: 40%;
}

.item {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
  font-size: 24px;
  line-height: 32px;
  gap: 16px;
  height: 88px;
}

@include xl {
  .item {
    font-size: 20px;
    line-height: 32px;
    height: 80px;
  }
}

@include l {
  .item {
    font-size: 20px;
    height: 80px;
  }
  .contact {
    width: 50%;
  }
}

@include m {
  .item {
    font-size: 20px;
    height: 80px;
  }
  .contact {
    width: 60%;
  }
}
