@use "../../../styles/rwd.scss" as *;

.card {
  width: 48%;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card img {
  width: 100%;
  height: auto;
}

@include xl {
  .card {
    height: 550px;
  }
}

@include l {
  .card {
    height: 500px;
  }
}

@include m {
  .card {
    height: 500px;
  }
}

@include s {
  .card {
    height: 490px;
  }
}

@include xs {
  .card {
    width: 100%;
    height: 490px;
  }
}

@include xxs {
  .card {
    width: 100%;
    height: 490px;
  }
}
