@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Poppins:wght@400;700&display=swap");

body {
  --black: #02001c;
  font-size: 24px;
  text-align: justify;
}

.App {
  text-align: center;
  font-family: Inter, sans-serif;
  color: var(--black);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

h1 {
  font-size: 56px;
  font-weight: bold;
}

h2 {
  font-size: 40px;
  font-weight: bold;
}

/* unvisited link */
a:link {
  color: var(--black);
  text-decoration: none;
}

/* visited link */
a:visited {
  color: var(--black);
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: var(--black);
  text-decoration: none;
}

/* selected link */
a:active {
  color: var(--black);
  text-decoration: none;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
